body {
    font-family: sans-serif;
}

section {
    background-color: #ff1b68;
}
.section-title {
    color: green;
}
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    border-style: dashed;
}



/* h1 {
    font-family: serif;
} */